/* *{
    color: red;
} */


body{
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    background-image: url("../images/retro-nba-video-games-bulls-vs-blazers.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

h1{
    margin: 10px auto;
    background-color: beige;
    width: min-content;
}

#timer{
    margin: 10px auto;
    background-color: beige;
    width: 100px;
    font-size: 20px;
}

.questionBox{
    display: none;
    width: 960px;
    font-size: 12px;
    text-align: left;
    background-color: sandybrown;
    padding: 10px;
    margin-left: 280px;
}

ul{
    margin: 10px auto;
}
.li{
    margin: 10px auto;
}

.score{
    display: none;
    font-size: 18px;
    background-color: beige;
    width: max-content;
    margin-left: 500px;
}

#correct{
    margin: 10px auto;
}

#incorrect{
    margin: 10px auto;
}

#unanswered{
    margin: 10px auto;
}

.done{
    display: none;
    margin: 10px auto;
}

.reset{
    display: none;
    margin: 10px auto;
}

